/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default {
            display-name = "BAS";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE  &kp Q  &kp W  &kp E     &kp R                       &kp T          &kp Y        &kp U                              &kp I      &kp O    &kp P     &kp MINUS
&kp TAB     &kp A  &kp S  &kp D     &kp F                       &kp G          &kp H        &kp J                              &kp K      &kp L    &kp SEMI  &kp BACKSPACE
&kp SQT     &kp Z  &kp X  &kp C     &kp V                       &kp B          &kp N        &kp M                              &kp COMMA  &kp DOT  &kp FSLH  &kp SQT
                          &kp LGUI  &mt LSHFT LEFT_PARENTHESIS  &lt 2 ENTER    &lt 1 SPACE  &mt RIGHT_SHIFT RIGHT_PARENTHESIS  &kp RALT
            >;
        };

        symbols {
            display-name = "SYM";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp PLUS           &kp N1           &kp N2       &kp N3    &kp N4          &kp N5              &kp N6             &kp N7           &kp N8         &kp N9                &kp N0                 &kp MINUS
&kp EQUAL          &kp EXCLAMATION  &kp AT_SIGN  &kp HASH  &kp DOLLAR      &kp PERCENT         &kp CARET          &kp AMPERSAND    &kp ASTERISK   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PIPE
&kp DOUBLE_QUOTES  &kp GRAVE        &kp TILDE    &kp SQT   &kp LEFT_BRACE  &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &kp LESS_THAN  &kp GREATER_THAN      &kp SLASH              &kp NON_US_BACKSLASH
                                                 &trans    &trans          &mo 3               &trans             &trans           &trans
            >;
        };

        navigation {
            display-name = "NAV";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB  &none  &none         &none      &none           &kp BACKSPACE    &kp INSERT      &kp DELETE      &none         &none            &none  &none
&none    &none  &kp LEFT_ALT  &kp LCTRL  &kp LEFT_SHIFT  &kp RIGHT_GUI    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &none  &kp BACKSPACE
&none    &none  &none         &none      &none           &none            &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP   &kp END          &none  &none
                              &trans     &trans          &trans           &mo 3           &trans          &trans
            >;
        };

        control {
            bindings = <
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
                     &none  &none  &none    &none  &none  &none
            >;
        };
    };
};
